.code-container {
  width: 100%;
  margin: 10px 0 30px 0;
}
.code-holder {
  width: 100%;
  overflow: auto;
}
.code-holder .code-view {
  border-radius: 5px;
  background-color: #0f111b;
  color: white;
  padding: 5px 10px;
  width: max-content;
  white-space: pre-wrap;
  display: inline-block;
  font-size: 0.8rem;
}
.code-container {
  position: relative;
}
.cp-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
}
